In [30]:
pip install pymysql

Requirement already satisfied: pymysql in d:\streamlit\env\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
import pymysql

mydb = pymysql.connect(
  host="localhost",
  user="root",
  password="Beyo@123",
  database="mydatabase"
)

mycursor = mydb.cursor()

In [32]:
pip install pandas

Requirement already satisfied: pandas in d:\streamlit\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\streamlit\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\streamlit\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\streamlit\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\streamlit\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\streamlit\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import pandas as pd

df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df4=pd.concat(
    [df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df4

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,National travels and logistics,A/C Sleeper (2+1),22:45,07:00,08h 15m,849,15 Seats available,4.3\n62,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SKS Tours & Travels,A/C Sleeper (2+1),21:15,05:45,08h 30m,INR 899,17 Seats available,4.2\n81,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,DA Transports,A/C Sleeper (2+1),21:45,07:00,09h 15m,INR 800,12 Seats available,4.3\n24,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 900,5 Seats available,4.2\n245,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 800,20 Seats available,4.6\n554,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2080,Ashray Grand,Volvo Multi-Axle A/C Sleeper (2+1),22:00,07:30,09h 30m,INR 1000,16 Seats available,4.1\n27,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2082,PSR Travels Goa,A/C Sleeper (2+1),19:15,10:00,14h 45m,INR 1399,1 Seat available,3.7\n116,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2083,Humsafar Travels,Bharat Benz A/C Sleeper (2+1),19:00,11:00,16h 00m,1035,11 Seats available,1.7\n40,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2084,Sea Bird Tourist,NON A/C Sleeper (2+1),19:15,02:30,07h 15m,INR 700,20 Seats available,3.7\n13,https://www.redbus.in/bus-tickets/goa-to-shimoga,Goa to Shivamogga

In [34]:
Final_df4.isnull().sum()

Bus_name           58
Bus_type           73
Start_time         58
End_time           58
Total_duration     58
Price              61
Seats_Available    66
Ratings            60
Route_link          0
Route_name          0
dtype: int64

In [35]:
Final_df4.dtypes

Bus_name           object
Bus_type           object
Start_time         object
End_time           object
Total_duration     object
Price              object
Seats_Available    object
Ratings            object
Route_link         object
Route_name         object
dtype: object

In [36]:
#convert prices to numeric
Final_df4["Price"]=Final_df4["Price"].str.replace("INR","")
Final_df4["Price"]=Final_df4["Price"].astype(float)
Final_df4["Price"].fillna(0)

0        849.0
1        899.0
2        800.0
3        900.0
4        800.0
         ...
2080    1000.0
2081       0.0
2082    1399.0
2083    1035.0
2084     700.0
Name: Price, Length: 2085, dtype: float64

In [37]:
Final_df4["Ratings"]

0        4.3\n62
1        4.2\n81
2        4.3\n24
3       4.2\n245
4       4.6\n554
          ...
2080     4.1\n27
2081         NaN
2082    3.7\n116
2083     1.7\n40
2084     3.7\n13
Name: Ratings, Length: 2085, dtype: object

In [38]:
Final_df4.drop_duplicates(inplace=True)

In [39]:
Final_df4

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,National travels and logistics,A/C Sleeper (2+1),22:45,07:00,08h 15m,849.0,15 Seats available,4.3\n62,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SKS Tours & Travels,A/C Sleeper (2+1),21:15,05:45,08h 30m,899.0,17 Seats available,4.2\n81,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,DA Transports,A/C Sleeper (2+1),21:45,07:00,09h 15m,800.0,12 Seats available,4.3\n24,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,900.0,5 Seats available,4.2\n245,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,800.0,20 Seats available,4.6\n554,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2080,Ashray Grand,Volvo Multi-Axle A/C Sleeper (2+1),22:00,07:30,09h 30m,1000.0,16 Seats available,4.1\n27,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2082,PSR Travels Goa,A/C Sleeper (2+1),19:15,10:00,14h 45m,1399.0,1 Seat available,3.7\n116,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2083,Humsafar Travels,Bharat Benz A/C Sleeper (2+1),19:00,11:00,16h 00m,1035.0,11 Seats available,1.7\n40,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2084,Sea Bird Tourist,NON A/C Sleeper (2+1),19:15,02:30,07h 15m,700.0,20 Seats available,3.7\n13,https://www.redbus.in/bus-tickets/goa-to-shimoga,Goa to Shivamogga

In [40]:
import re

# Extract the first floating-point number from the string
Final_df4["Ratings"] = Final_df4["Ratings"].str.extract(r"(\d+\.\d+)").astype(float)

# Fill NaN values with 0
Final_df4["Ratings"].fillna(0,inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_9940\1992461736.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df4["Ratings"].fillna(0,inplace=True)

In [41]:
Final_df4['Start_time'] = pd.to_datetime(Final_df4['Start_time'], format='%H:%M').dt.time

Final_df4['End_time'] = pd.to_datetime(Final_df4['End_time'], format='%H:%M').dt.time

In [42]:
Final_df4

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,National travels and logistics,A/C Sleeper (2+1),22:45:00,07:00:00,08h 15m,849.0,15 Seats available,4.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SKS Tours & Travels,A/C Sleeper (2+1),21:15:00,05:45:00,08h 30m,899.0,17 Seats available,4.2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,DA Transports,A/C Sleeper (2+1),21:45:00,07:00:00,09h 15m,800.0,12 Seats available,4.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45:00,06:45:00,09h 00m,900.0,5 Seats available,4.2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,MMK Travels,A/C Seater / Sleeper (2+1),22:30:00,07:30:00,09h 00m,800.0,20 Seats available,4.6,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2080,Ashray Grand,Volvo Multi-Axle A/C Sleeper (2+1),22:00:00,07:30:00,09h 30m,1000.0,16 Seats available,4.1,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2081,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0.0,https://www.redbus.in/bus-tickets/goa-to-satara,Goa to Satara
2082,PSR Travels Goa,A/C Sleeper (2+1),19:15:00,10:00:00,14h 45m,1399.0,1 Seat available,3.7,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2083,Humsafar Travels,Bharat Benz A/C Sleeper (2+1),19:00:00,11:00:00,16h 00m,1035.0,11 Seats available,1.7,https://www.redbus.in/bus-tickets/goa-to-shirdi,Goa to Shirdi
2084,Sea Bird Tourist,NON A/C Sleeper (2+1),19:15:00,02:30:00,07h 15m,700.0,20 Seats available,3.7,https://www.redbus.in/bus-tickets/goa-to-shimoga,Goa to Shivamogga

In [43]:
Final_df4.fillna(0,inplace=True)

In [44]:
Final_df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2008 entries, 0 to 2084
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2008 non-null   object
 1   Bus_type         2008 non-null   object
 2   Start_time       2008 non-null   object
 3   End_time         2008 non-null   object
 4   Total_duration   2008 non-null   object
 5   Price            2008 non-null   float64
 6   Seats_Available  2008 non-null   object
 7   Ratings          2008 non-null   float64
 8   Route_link       2008 non-null   object
 9   Route_name       2008 non-null   object
dtypes: float64(2), object(8)
memory usage: 172.6+ KB

In [45]:
Final_df4.dtypes

Bus_name            object
Bus_type            object
Start_time          object
End_time            object
Total_duration      object
Price              float64
Seats_Available     object
Ratings            float64
Route_link          object
Route_name          object
dtype: object

In [46]:
# Table Creation
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details12(
                  ID INT AUTO_INCREMENT PRIMARY KEY, 
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time TIME NOT NULL,
                  End_time TIME NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings FLOAT NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')

print("Table Created successfully")

Table Created successfully

In [47]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details12(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = Final_df4.values.tolist()

mycursor.executemany(insert_query, data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully